
.container  {
    width: 100%;
    margin: 0 auto 0;
    padding: 0 15px 0;
}

@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
    }
}

.container-sm  {
    width: 100%;
    margin: 0 auto 0;
    padding: 0 15px 0;
}

@media (min-width: 1170px) {
    .container-sm {
        max-width: 900px;
    }
}

/*FIM DO CONTAINER PADRÃO*/


@media (max-width: 610px) {
   
    .btn-outline-rounded {
        padding: 10px 15px;
        
    }

    .grid-3-9-col, 
    .grid-2-5-5-col, 
    .grid-10-2-col { 
        grid-template-columns: 100% !important;
        grid-template-rows: auto auto auto;       
    }
    
}


@media (max-width: 768px) {

    .cta-1 {
        width: 100%;
        display: block;
    }  
    .cta-outline-2 {
        width: 100%;
        display: block;
        margin-top: 18px;
    }  
    
    .flex-main-item1 {
        width: 100%;
    }

    /*.flex-main-item1 h3 {
        font-size: 16px;
    }

    .flex-main-item2 {
        margin-top: 140px;
    }
    */
    .img-main {
       display: none;  
    }

    main p  {
        font-size: 12px;
     }
    
    main h4 {
        font-size: 14px;
     }
           
}

@media (min-width: 360px) {
   
    .container {
        max-width: 320px;
    }

    .container-sm {
        max-width: 350px;
    }
    
    main h1 {
        font-size: 40px;
    }
    
    main h2 {
        font-size: 20px;
    }
    
    main h3 {
        font-size: 20px;
    }

    section h1 {
        font-size: 30px;
    }
    
}

@media (min-width: 476px) {
    
    .container {
        max-width: 440px;
    }

    .container-sm {
        max-width: 420px;
    }
    
    main h1 {
        font-size: 45px;
    }

    main h2 {
        font-size: 20px;
    }

    section h1 {
    font-size: 45px;
    }
}

@media (min-width: 600px) {

    .container {
        max-width: 580px;
    }

    .container-sm {
        max-width: 580px;
    }

    main h1 {
        font-size: 50px;
    }

    main h2 {
        font-size: 40px;
        }

    section h1 {
        font-size: 45px;
    }

}

@media (min-width: 768px) {
    
    .container {
        max-width: 720px;
    }

    .container-sm {
        max-width: 600px;
    }
    
    main h1 {
        font-size: 55px;
    }
    
    main h2 {
        font-size: 40px;
        }

    section h1 {
        font-size: 50px;
    }

}

@media (min-width: 992px) {
    
    .container {
        max-width: 970px;
    }

    .container-sm {
        max-width: 800px;
    }
    

    main h1 {
        font-size: 60px;
    }

    main h2 {
        font-size: 45px;
        }

    section h1 {
        font-size: 55px;
    }

}

@media (min-width: 1200px) {
    
    .container {
        max-width: 1120px;
    }

    .container-sm {
        max-width: 900px;
    }
    
    main h1 {
        font-size: 65px;
    }

    main h2 {
        font-size: 45px;
        }

    section h1 {
        font-size: 60px;
    }
}
    
    /*CONTENT DRIVEN EM VEZ DE DEVICE-DRIVEN BREAKPOINTS
    @media (min-width: 37em) { ... } /* 592px 
    @media (min-width: 41em) { ... } /* 656px 
    @media (min-width: 47em) { ... } /* 752px 
    @media (min-width: 68em) { ... } /* 1088px 
    @media (min-width: 82em) { ... } /* 1312px 
    @media (min-width: 100em) { ... } /* 1600px 
    */

/*GRID 12 COLUNAS FLEXBOX*/

.row {
    display: flex;
}

.col-auto {
    width: auto;
    width: 100%;
}

.col-1 {
    flex: 8.333333%;
    width: 100%;
}
  
.col-2 {
    flex: 16.666667%;
    width: 100%;
}

.col-3 {
    flex: 25%;
    width: 100%;
}

.col-4 {
    flex: 33.333333%;
    width: 100%;
}

.col-5 {
    flex: 41.666667%;
    width: 100%;
}

.col-6 {
flex: 50%;
width: 100%;
}

.col-7 {
flex: 58.333333%;
width: 100%;
}

.col-8 {
flex: 66.666667%;
width: 100%;
}

.col-9 {
flex: 75%;
width: 100%;
}

.col-10 {
flex: 83.333333%;
width: 100%;
}

.col-11 {
flex: 91.666667%;
width: 100%;
}

.col-12 {
flex: 100%;
width: 100%;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-main {
    display: flex;
    flex-direction: row;
    margin: 140px 0 160px; 
}

.flex.wrap {
    flex-wrap: wrap;
}

.grid-3-9-col {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row-gap: 20px 20px;
    grid-column-gap: 10px;
}

.grid-2-5-5-col {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    grid-row-gap: 20px 20px;
    grid-column-gap: 10px;
}

.grid-10-2-col {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-row-gap: 20px 20px;
    grid-column-gap: 10px;
}
  
 