
main h1 {
   color:#333333;
   letter-spacing: -2px;
   line-height: 1.1;
}
main h2 {
  font-size: 50px;
  color:#333333;
  letter-spacing: 0;
  line-height: 1.5;
}

main h3 {
   color:#333333;
   padding-top: 10px;
   font-size: 40px;
   letter-spacing: 0;
   line-height: 1.1;
}

main h4 {
   color: #333333;
    padding-top: 20px;
   line-height: 1.8rem;
   width: 90%;
}

main p {
   color: gray;
  
}

.img-main {
    float: right;
    width: 80%;
    justify-content: end;
    height: 400px;
    margin-right: auto;  
}

.cta-1 {
    text-decoration: none;
    background: #1DB954;
    text-align: center;
    padding: 20px 20px;
    border: 1px solid #1DB954;
    border-radius: 50px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 70px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s ease;  
}

.cta-1:hover {
  box-shadow: 0 -3px 0 #205527 inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
    top: 66px;
    opacity: 0.6;    
}

.cta-outline-2 {
    text-decoration: none;
    background: white;
    text-align: center;
    padding: 20px 20px;
    border: 1px solid #1DB954;
    border-radius: 50px;
    color: #1DB954;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 70px;
    cursor: pointer;
    transition: 0.3s ease;   
}

.cta-outline-2:hover {
  box-shadow: 0 -3px 0 #205527 inset,
  500px 0 0 rgba(255,255,255,0.03) inset;
  top: 66px;
  opacity: 0.8; 
  color:#1DB954;  
}

/*==FIM DO MAIN =============================*/

/*INÍCIO PRODUTOS ===========================*/

.produtos {
  background-color: #2F384B;
  padding: 140px 0 140px;
}

.produtos h1 {
  color: #1DB954;
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.img-cards {
  width: 150px;
  padding-top: 100px;
}

.btn-md {
  background: #1DB954;
  width: 60%;
  margin: 0 auto 30px;
  text-align: center;
  border: 1px solid #1DB954;
  border-radius: 50px;
  padding: 18px 25px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline-md {
  width: 60%;
  margin: 0 auto 50px;
  text-align: center;
  border: 2px solid #1DB954;
  border-radius: 50px;
  padding: 18px 25px;
  color: #1DB954;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.flex-btn {
  display: flex;
  flex-direction: column;
}

.grid-cards {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-areas:"card1 card2 card3";
  grid-gap: 40px 40px;
}

.grid-cards h3 {
  color: white;
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  margin: 0 15px 0
}

.grid-cards p {
  color: #1DB954;
  font-size: 18px;
  text-align: center;
  padding: 20px 20px;
  margin-bottom: 30px;
}
      
.card1 {
  text-align: center;
  border: 2px solid #1DB954;
  border-radius: 10px;
  height: auto;
  grid-area: card1;
}

.card2 {
  text-align: center;
  border: 2px solid #1DB954;
  border-radius: 10px;
  height: auto;
  word-wrap: break-word;
  grid-area: card2;
}

.card3 {
  text-align: center;
  border: 2px solid #1DB954;
  border-radius: 10px;
  height: auto;
  grid-area: card3;
}

@media (max-width: 1100px) {

  .grid-cards {
      grid-template-columns: 1fr;
      grid-template-areas:
      "card1"
      "card2"
      "card3";
      padding: 20px 10px;
  }
}

/*FIM DOS PRODUTOS ==========================*/

/*INÍCIO SOBRE ==============================*/

.flex-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px auto 100px;
  
}

section > div {
  padding: 150px auto 50px; 
}

section p {
  color: #333333;
  width: 80%;
  margin-top: 40px;
  font-size: 20px;
  line-height: 35px;
}

section h1 {
  color: #28a745;
  padding: 50px auto 0; 
}


/*FIM DO SOBRE =====================================*/

/*INÍCIO DO FOOTER =================================*/

footer {
  position: relative;
  bottom:0;
  left: 0;
	width:100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color:#1DB954;
 
}


/*FIM DO FOOTER =====================================*/

/*INÍCIO MODAL DADOS INICIAIS =======================*/

.modal-container {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color:#2F384B;
  margin: 50px auto auto;
  padding: 20px;
  width: 50%;
  height: auto;
  border-radius: 10px;
  min-width: 350px;
  max-width: 500px;
  animation: modal 0.7s;
}

.modal-content h3 {
  text-align: center;
  padding: 20px;
  color: #1DB954;
  font-size: 22px;
  font-weight: bold;
}

.btn-fechar {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
  font-weight: bold;
}

.btn-fechar:hover,
.close:focus {
  color: #1DB954;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -500px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal-content label {
  display: block;
  color: white;
  text-align: left;
  margin: 20px auto 10px 17px;
}

.modal-content input {
  background: #2F384B;
  border-bottom: 1px solid #1DB954;
  height: 40px;
  width: 90%;
  display: block;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 10px;
  text-align: left;
  margin: 5px auto 40px 17px;
  box-shadow: none;
}

.modal-content input:focus {
  display: block;
  border: 3px solid #1DB954;
  border-radius: 10px;
  color: #1DB954; 
  font-weight: bold;
  box-shadow: 0 0 0 0;
}

.termos-uso {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}

.btn-modal {
  display: block;
  width: 70%;
  text-decoration: none;
  padding: 20px 0;
  border: 1px solid #1DB954;
  border-radius: 50px;
  color: #1DB954;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin: 40px auto;
}


/*FIM MODAL DADOS INICIAIS =======================*/

/*INÍCIO ADEQUAÇÃO===========================================*/

#adequacao {
  background-color: #2F384B;
  padding: 30px 0 70px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 30px;
  height: 4px;
  border-radius: 5px;
  background: #1DB954;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #28a745;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #28a745;
  cursor: pointer;
}

.valor-range {
  font-size: 40px;
  margin-top: 10px;
}

.valor-range small {
  font-size: 20px;
  font-weight: 500;
  color: #1DB954;
}

.valor-range {
  color: white;
}

.textoRange {
  display: block;
  color:white;
  font-weight: 500;
  margin-top: 50px;
}

.form-adequacao {
  margin: 0 auto 0;
  width: 50%;
  min-width: 280px;
}

.form-adequacao h1 {
 color: white;
 padding-top: 60px;
}

.select-destinacao {
  display: block;
  width: 100%;
  padding: 15px 8px;
  margin: 20px auto 40px;
  font-size: 18px;
  color: white;
  background-color: #2F384B;
  background-clip: padding-box;
  border: 1px solid #1DB954;
  border-radius: 5px;
}

.select-destinacao:focus {
  border: 2px solid #1DB954;
}

.btn-outline-lg {
  display: block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  margin: 60px auto 0;
  padding: 18px;
  border: 1.5px solid #1DB954;
  border-radius: 50px;
  color: #1DB954;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

/*INÍCIO FORM ENDERECO=========================*/

#form-endereco h2 {
 margin: 80px auto 50px;
 color: #28a745;
}

#form-endereco h3 {
  color: #333333;
  margin-bottom: 20px;
}

#form-endereco i {
  color: #1DB954;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 25px;
}

.label-float a {

  margin: 0 auto 0 10px;
  color: #2F384B;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.label-float input{
  border: 0;
  border: 1px solid #1DB954;
  border-radius: 50px;
  height: 50px;
  width: 100%;
  padding-left: 18px;
  display: block;
  color: black;
  font-weight: 100;
  font-size: 20px;
  min-width: 180px;
  font-size: 18px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
 
}

.label-float input:focus{
  border: 2px solid #1DB954;
  font-size: 22px;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin: 28px 0 0 20px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:focus:invalid{
  border: 2px solid #1DB954;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 12px;
  margin-top: -8px;
  color: #1DB954;
}

.btn-rounded {
  float: right;
  margin: 30px 50px 50px auto;
  justify-content: end;
  background-color: #1DB954;
  color: white;
  font-size: 35px;
  padding: 20px 25px;
  border-radius: 50%;
}

.btn-outline-rounded {
  float: right;
  margin: 40px 0 0 auto;
  justify-content: end;
  color: #1DB954;
  border: 2.5px solid #1DB954;
  font-size: 35px;
  padding: 20px 26px;
  border-radius: 50%;
}

